body {
    background: linear-gradient(to right, rgb(30, 60, 114), rgb(42, 82, 152));
}

#particles-js {
    height: 50vh;
    background: rgba(0, 0, 0, .075);
    box-shadow: inset 0px -5px 10px -3px rgba(0, 0, 0, 0.3);
}

.wrapper {
    background: #fff;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, .075), -12px 0 8px -4px rgba(0, 0, 0, .075);
    padding: 40px 15px 24px 15px;
    border-radius: 5px;
    margin-top: -15rem;
    z-index: 9999;
    position: relative;
}

.navbar {
    padding: 1rem 1rem;
    border-bottom: 1px solid #fff;
}

.footer {
    background: #26517F;
    border-top: 1px solid #fff;
    color: #fff;
    margin-top: 20px;
    padding: 16px 0;
    font-size: 17px;
    font-weight: 400;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    font-weight: bold;
    color: #fff;
}

.admin-sign-in i {
    font-size: 4rem;
}

.wrapper .nav-tabs .nav-link {
    padding: .5rem 3rem;
    font-size: 19px;
}

@media (max-width: 991px) {
    .h1, h1 {
        font-size: 2.5rem !important;
    }
}

@media (max-width: 576px) {
    .footer {
        font-size: 12px;
    }

    .footer p {
        text-align: center !important;
    }

    .footer .app-name {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        margin-top: -10rem;
    }
}