alembic==0.9.8
astroid==1.5.3
autopep8==1.3.3
boto==2.48.0
click==6.7
colorama==0.3.9
cx-Freeze==5.0.2
cycler==0.10.0
decorator==4.0.11
Django==2.0.4
Flask==0.12.2
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
Flask-WTF==0.14.2
gunicorn==19.7.1
hashids==1.2.0
imageio==2.1.2
isort==4.2.15
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
moviepy==0.2.3.2
mysqlclient==1.3.12
numpy==1.13.3
opencv-python==3.4.0.12
Pillow==5.0.0
pycodestyle==2.3.1
pylint==1.7.4
pyparsing==2.2.0
PyQt5==5.9.1
python-dateutil==2.7.0
python-dotenv==0.8.2
python-editor==1.0.3
pytz==2017.3
scipy==1.0.1
sip==4.19.5
six==1.11.0
SQLAlchemy==1.2.5
tqdm==4.11.2
virtualenv==15.1.0
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.1
