{% extends 'userpanel/base.html' %}

{% block userpanel_body %}
  <h3>Edit feed</h3>
  <hr>

  <form class="edit-feed" action="{{ url_for('userpanel.feed_details_view', feed_id=feed.id) }}"
        method="POST"
        enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          {{ form.name.label }}
          {{ form.name(class_="form-control") }}

          {% if form.name.errors %}
            {% for error in form.name.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          {{ form.url.label }}
          {{ form.url(class_="form-control") }}

          {% if form.url.errors %}
            {% for error in form.url.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-6 offset-md-3 col-sm-12">
      <button type="submit" class="btn btn-block btn-primary">Save</button>
    </div>
  </form>
{% endblock %}
