{% extends "base.html" %}

{% block title %}{{ module_desc.seo_title }}{% endblock %}
{% block seo_desc %}{{ module_desc.seo_desc }}{% endblock %}
{% block seo_keywords %}{{ module_desc.seo_keywords }}{% endblock %}

{% block body %}
<div class="wrapper">
  {% include 'utils/module_top_block.html' %}

  <section class="homepage">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="info">
          {% if module_desc.text %}
            <div class="content">{{ module_desc.text|safe }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
      {% for page in pages %}
        {% if not loop.first %}
        <div class="{% if loop.last and loop.length % 2 != 0 %}col-md-12 col-sm-12{% else %}col-md-6 col-sm-6{% endif %} col-12">
          <div class="card mb-sm-5 mb-4">
            <div class="card-body">
              <h2 class="card-title text-center">{{ page.name }}</h2>
              <a href="{{ page.breadcrumbs }}" class="btn btn-block btn-primary">Go there!</a>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}