{% extends "base.html" %}

{% block title %}{{ module_desc.seo_title }}{% endblock %}
{% block seo_desc %}{{ module_desc.seo_desc }}{% endblock %}
{% block seo_keywords %}{{ module_desc.seo_keywords }}{% endblock %}

{% block body %}
  <div class="wrapper">
    {% include 'utils/module_top_block.html' %}

    {% include 'utils/info_block.html' %}

    <section class="apmc-info">
      {% if not current_user.is_authenticated %}
        <div class="row mb-5">
          {% include 'apmc/partials/not_logged_in.html' %}
        </div>
      {% endif %}

      {% include 'apmc/partials/additional_information.html' %}
    </section>

    <hr>

    {% if current_user.is_authenticated %}
      <section class="apmc">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            {% include 'apmc/partials/logged_in.html' %}
          </div>
        </div>
      </section>
    {% endif %}
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/helpers/AppModule.js') }}?ver={{ css_js_ver }}"></script>
  <script
      src="{{ url_for('static', filename='js/apmc/APMCModule.js') }}?ver={{ css_js_ver }}"></script>
  <script
      src="{{ url_for('static', filename='js/apmc/APMCEvents.js') }}?ver={{ css_js_ver }}"></script>
{% endblock %}
