{% extends "base.html" %}

{% block title %}{{ module_desc.seo_title }}{% endblock %}
{% block seo_desc %}{{ module_desc.seo_desc }}{% endblock %}
{% block seo_keywords %}{{ module_desc.seo_keywords }}{% endblock %}

{% block body %}
<div class="wrapper">
  {% include 'utils/module_top_block.html' %}

  {% include 'utils/info_block.html' %}

  <section class="chi-independence">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>chi-square test of independence</h2>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="form-group">
          <label for="array-width">Groups</label>
          <input id="array-width" type="number" class="form-control non-negative array-width" min="1"
                 placeholder="width">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">

        <div class="form-group">
          <label for="array-height">Rows</label>
          <input id="array-height" type="number" class="form-control non-negative array-height" min="1"
                 placeholder="height">
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 event-button">
        <button type="submit" class="btn btn-block btn-primary generate-array">Generate!</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="messages mt-4"></div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="array-wrapper"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 event-button mb-3 calcuate">
        <button type="submit" class="btn btn-block btn-danger calcuate-button">Calculate!</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-8 offset-md-4 col-sm-12 col-xs-12 chi-result mt-3 mb-3"></div>
      </div>
    </div>
  </section>

  <hr class="mt-4 mb-4">

  <section class="chi-goodness">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="mt-3 mb-4">chi-square test of goodness of fit</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="goodness-width">Number of groups</label>
          <input id="goodness-width" type="number" class="form-control non-negative goodness-width"
                 placeholder="number of groups">
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 event-button">
        <button type="submit" class="btn btn-block btn-primary generate-array-goodness">Generate!</button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="array-wrapper-goodness"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 event-button calcuate-goodness">
        <button type="submit" class="btn btn-block btn-danger calcuate-button-goodness">Calculate!</button>
      </div>
    </div>

    <div class="row mt-4 mb-3">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-8 offset-md-4 col-sm-12 col-xs-12 chi-goodness-info"></div>
        <div class="col-md-8 offset-md-4 col-sm-12 col-xs-12 chi-goodness-result"></div>
      </div>
    </div>
  </section>
</div>

{% include 'utils/modal.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ChiSquare.js') }}?ver={{ css_js_ver }}"></script>
<script src="{{ url_for('static', filename='js/ChiSquareEvents.js') }}?ver={{ css_js_ver }}"></script>
<script src="{{ url_for('static', filename='js/ChiSquareOfGoodness.js') }}?ver={{ css_js_ver }}"></script>
<script src="{{ url_for('static', filename='js/ChiSquareOfGoodnessEvents.js') }}?ver={{ css_js_ver }}"></script>
{% endblock %}