{% extends "base.html" %}
{% block title %}Chi Square{% endblock %}
{% block body %}
<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">{{ title }}</h1>
    </div>
  </div>
  <section class="contact-us">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h5 class="text-center"><a href="mailto:jan.binkowski96@gmail.com">Jan Bińkowski [researcher]</a><sup>[1]</sup>
          & <a href="mailto:miks.szymon@gmail.com">Szymon Miks [developer]</a> <sup>[2]</sup></h5>

        <ol>
          <li class="mb-2">
            Faculty of Biotechnology and Animal Husbandry, West Pomeranian University of Technology, Szczecin 70-311, Poland.
          </li>
          <li>Faculty of Electronics, Telecommunications and Informatics, Gdańsk University of Technology, Gdańsk,
            80-233, Poland.
          </li>
        </ol>

        <p class="font-weight-bold text-center">
          The application was created in cooperation with Animal Genetics Student Research Group, scientific supervisor:
          Prof. Marek Kmieć.</p>

      </div>
    </div>
  </section>
</div>
{% endblock %}