<div class="pre-train-section upload-data-sheet">
  <form id="ml-pre-train-form" class="mb-4">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="form-group">
        <label for="project-name">Your project name</label>
        <input class="form-control" id="project-name" type="text" required>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="upload-wrapper mt-5 mb-5">
        <div class="form-group">
          <label class="btn btn-primary btn-block" for="data-file">
            <input type="file" name="file" class="form-control-file" id="data-file" hidden
                   onchange="$('.upload-file-name').val(this.files[0].name)">
            Click to upload file
          </label>
          <input type="text" class="form-control upload-file-name"/>
        </div>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="form-group">
        <label for="model-type">Choose model type</label>
        <select class="form-control" id="model-type">
          <option value="classification">classification</option>
          <option value="regression">regression</option>
        </select>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="normalize-dataset">
        <label class="form-check-label" for="normalize-dataset">Do you want to normalize dataset?</label>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12 event-button">
      <button type="submit" class="btn btn-block btn-danger pre-train">Pre-train
      </button>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pre-train-results"></div>
  </form>

  <form class="user-model-choice">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="form-group">
        <label for="user-model-choice">Choose model type</label>
        <select class="form-control">
          <option value="classification">Model 1</option>
          <option value="regression">Model 2</option>
          <option value="regression">Model 3</option>
          <option value="regression">Model 4</option>
        </select>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12 event-button">
      <button class="btn btn-block btn-danger train">Trainw</button>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 train-errors"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 train-success">
      <p>Model trainded succesfully</p>
      <a href="#" class="btn btn-danger">Predict</a>
    </div>
  </form>
</div>
