{% extends "base.html" %}
{% block title %}Chi Square{% endblock %}
{% block body %}
<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">{{ title }}</h1>
    </div>
  </div>
  <section class="genetic-distance">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h4 class="text-center">Work in progress!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="form-group">
          <label for="taxon-number">Number of populations</label>
          <input id="taxon-number" type="number" min="0" class="form-control taxon-number" placeholder="Number of populations">
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="form-group">
          <label for="locus-number">Number of locus</label>
          <input id="locus-number" type="number" min="0" class="form-control locus-number" placeholder="Number of locus">
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="form-group">
          <label for="type-of-distance">Type of distance</label>
          <select class="form-control" id="type-of-distance">
            <option>select</option>
            <option value="standard">Standard genetic distance</option>
            <option value="takezaki-nei">Genetic distance (Takezaki, Nei 1983)</option>
          </select>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6 event-button">
        <button type="submit" class="btn btn-block btn-primary alleles-inputs-generate">Generate!</button>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12 alleles-wrapper"></div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 genetic-distance-table"></div>
      <div class="col-md-6 offset-md-3">
        <button type="submit" class="btn btn-block btn-success calcuate-distance">Calculate!</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="matrix-wrapper"></div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="dendrogram-wrapper"></div>
      </div>
    </div>

  </section>
</div>
{% endblock %}

{% block scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script src="{{ url_for('static', filename='js/GeneticDistance.js') }}"></script>
<script src="{{ url_for('static', filename='js/GeneticDistanceEvents.js') }}"></script>
{% endblock %}