{% extends "base.html" %}
{% block title %}Chi Square{% endblock %}
{% block body %}
<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">{{ title }}</h1>
    </div>
  </div>
  <section class="genetic-distance">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h4 class="text-center">Work in progress!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="form-group">
          <label for="taxon-number">Number of populations</label>
          <input id="taxon-number" type="number" class="form-control taxon-number" placeholder="Number of populations">
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="form-group">
          <label for="locus-number">Number of locus</label>
          <input id="locus-number" type="number" class="form-control locus-number" placeholder="Number of locus">
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="form-group">
          <label for="type-of-distance">Type of distance</label>
          <select class="form-control" id="type-of-distance">
            <option>select</option>
            <option value="standard">Standard genetic distance</option>
            <option value="takezaki-nei">Genetic distance (Takezaki, Nei 1983)</option>
          </select>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6 event-button">
        <button type="submit" class="btn btn-block btn-primary alleles-inputs-generate">Generate!</button>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12 alleles-wrapper"></div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 genetic-distance-table"></div>
    </div>
    <table class="table table-responsive text-center test-table">
      <thead class="thead-light">
      <tr>
        <th rowspan="2">Locus</th>
        <th rowspan="2">Allel</th>
      </tr>
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
      </tr>
      </thead>

      <tbody>
        <th scope="row" rowspan="4">G1</th>
        <tr>
          <td>1</td>
          <td>0.5</td>
          <td>0.1</td>
          <td>0.6</td>
          <td>1.6</td>
        </tr>

        <tr>
          <td>2</td>
          <td>0.5</td>
          <td>0.1</td>
          <td>0.6</td>
          <td>1.6</td>
        </tr>

        <tr>
          <td>3</td>
          <td>0.5</td>
          <td>0.1</td>
          <td>0.6</td>
          <td>1.6</td>
        </tr>

        <th scope="row" rowspan="4">G1</th>
        <tr>
          <td>1</td>
          <td><input type="number" class="form-control cell col line-0 column-0" name="cell"></td>
          <td>0.1</td>
          <td>0.6</td>
          <td>1.6</td>
        </tr>

        <tr>
          <td>2</td>
          <td>0.5</td>
          <td>0.1</td>
          <td>0.6</td>
          <td>1.6</td>
        </tr>

        <tr>
          <td>3</td>
          <td>0.5</td>
          <td>0.1</td>
          <td>0.6</td>
          <td>1.6</td>
        </tr>

        <th scope="row" rowspan="4">G1</th>
        <tr>
          <td>1</td>
          <td>0.5</td>
          <td>0.1</td>
          <td>0.6</td>
          <td>1.6</td>
        </tr>

        <tr>
          <td>2</td>
          <td>0.5</td>
          <td>0.1</td>
          <td>0.6</td>
          <td>1.6</td>
        </tr>

        <tr>
          <td>3</td>
          <td>0.5</td>
          <td>0.1</td>
          <td>0.6</td>
          <td>1.6</td>
        </tr>
      </tbody>
    </table>

  </section>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/GeneticDistance.js') }}"></script>
<script src="{{ url_for('static', filename='js/GeneticDistanceEvents.js') }}"></script>
{% endblock %}