{% extends "base.html" %}

{% block title %}Genetic Distance{% endblock %}

{% block seo_desc %}
Tool to estimate genetic distance between n-number of populations on the basis of alleles frequencies
{% endblock %}

{% block seo_keywords %}
genetic distance, dendrograms, distance matrix
{% endblock %}

{% block body %}
{% include 'utils/loader.html' %}
<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">{{ title }}</h1>
    </div>
  </div>
  <section class="genetic-distance">
    <div class="row">
      <div class="col-md-3 offset-md-3 col-sm-6 col-xs-6">
        <div class="form-group">
          <label for="taxon-number">Number of populations:</label>
          <input id="taxon-number" type="number" min="0" class="form-control taxon-number">
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="form-group">
          <label for="locus-number">Number of locus:</label>
          <input id="locus-number" type="number" min="0" class="form-control locus-number">
        </div>
      </div>

      <div class="col-md-3 offset-md-3 col-sm-6">
        <div class="form-group">
          <label for="type-of-distance">Type of distance</label>
          <select class="form-control" id="type-of-distance">
            <option value="standard" selected>Standard genetic distance</option>
            <option value="geometric">Geometric genetic distance</option>
            <option value="takezaki-nei">Genetic distance for STR (Takezaki, Nei 1983)</option>
          </select>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="form-group">
          <label for="type-of-dendrogram">Type of dendrogram</label>
          <select class="form-control" id="type-of-dendrogram">
            <option value="upgma" selected>UPGMA</option>
            <option value="wpgma">WPGMA</option>
            <option value="upgmc">UPGMC</option>
            <option value="wpgmc">WPGMC</option>
            <option value="single-linkage">Single Linkage Clustering</option>
            <option value="complete-linkage">Complete Linkage Clustering</option>
          </select>
        </div>
      </div>

      <div class="col-md-6 offset-md-3 col-sm-6 col-xs-6 event-button">
        <button type="submit" class="btn btn-block btn-primary alleles-inputs-generate">Generate!</button>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12 alleles-wrapper mt-4"></div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 genetic-distance-table"></div>
      <div class="col-md-6 offset-md-3">
        <button type="submit" class="btn btn-block btn-success calcuate-distance">Calculate!</button>
      </div>
    </div>

    <div class="genetic-distance-results">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12 text-center">
          <div class="result-desc"><p class="pb-1">Distance matrix: </p></div>
          <div class="matrix-wrapper"></div>
        </div>
        <div class="col-md-10 offset-md-1 col-sm-12 text-center">
          <div class="result-desc"><p class="pb-1">Dendogram: </p></div>
          <div class="dendrogram-wrapper"></div>
        </div>
      </div>
    </div>

  </section>

  <section class="geometric-info shadow-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2 class="text-center mb-3">Important info!</h2>
          <div class="text-center">
            <p>Geometric distance is not available now, but it will be relased as soon as possible!</p>
            <p>
              <strong>If you have any question or ideas please contact us
              <a href="contect@gene-calc.pl">contect@gene-calc.pl</a></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

{% include 'utils/modal.html' %}

{% endblock %}

{% block scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-AMS_SVG' async></script>
<script src="{{ url_for('static', filename='js/GeneticDistance.js') }}"></script>
<script src="{{ url_for('static', filename='js/GeneticDistanceEvents.js') }}"></script>
{% endblock %}