/*
* Sidebar
*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 54px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
* Content
*/
[role="main"] {
    padding-top: 54px;
}

/*
* Navbar
*/
.navbar-brand {
    padding-top: .75rem;
    padding-left: .75em;
    padding-bottom: .75rem;
    font-size: 1.25rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.userpanel-container {
    padding: 35px 15px;
}

.profile-pic {
    width: 250px;
    height: 250px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay.active {
    display: block;
}

.hamburger {
    padding: 10px 0;
    cursor: pointer;
    z-index: 9;
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0 0 0 auto;
}

.hamburger div {
    width: 100%;
    height: 5px;
    background-color: #222;
    margin: 5px 0;
}

.hamburger.active {
    position: relative;
}

.hamburger.active div:nth-child(1) {
    display: none;
}

.hamburger.active div:nth-child(2) {
    transform: rotate(45deg);
    position: relative;
    top: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.hamburger.active div:nth-child(3) {
    transform: rotate(135deg);
    top: -5px;
    position: relative;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

.hamburger.active div {
    background-color: #fff;
}

.sidebar.active {
    display: block;
    width: 250px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}

.user-input .name:after {
    content: ':';
    padding-left: 3px;
}

.user-input .value, .results .result .value {
    padding-left: 15px;
}

.results .result .name:after {
    content: '=';
    padding-left: 3px;
}

.results .result-row:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.user-input .value, .results .result .value {
    word-break: break-all;
}

.name[data-name="alignment"], .name[data-name="dotplot_img"] {
    display: none;
}

.value[data-name="alignment"] {
    padding: 0 !important;
}

.value[data-name="alignment"] .title {
    font-weight: bold;
}

.calculation-result h5, .user-input-wrapper h5 {
    border-radius: 5px;
}

.dataframe {
    border: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    margin-top: 15px;
}

.dataframe th,
.dataframe td {
    padding: 5px 10px;
}

.dataframe tr th {
    background: #e9ecef;
}

.dataframe thead th {
    border-bottom: 1px solid #dee2e6;
}

.dataframe tbody th {
    border-right: 1px solid #dee2e6;
}

@media (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 0.75rem;
    }

    .nav-utils a, .nav-utils span {
        font-size: 10px;
        letter-spacing: -0.01em;
    }

    .nav-utils a {
        padding: 5px;
    }
}