body {
    background: linear-gradient(to right, rgb(33, 147, 176), rgb(109, 213, 237));
}

.wrapper {
    background: #fff;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, .075), -12px 0 8px -4px rgba(0, 0, 0, .075);
    padding: 0 15px 24px 15px;
    border-radius: 5px;
    margin-top: -14rem;
}

section {
    padding: 32px 0;
}

table .summary {
    background: #e9ecef;
}

table .general-result-wrapper {
    background: crimson;
}

.general-result {
    background-color: #dc143c !important;
    color: #fff;
}

.calcuate {
    display: none;
}

.calcuate-goodness {
    display: none;
}

.table td, .table th {
    vertical-align: middle;
}

table th[scope=row] {
    background: #e9ecef;
}

.form-control:disabled, .form-control[readonly] {
    font-weight: bold;
    font-size: 17px;
}

.result-value {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    font-weight: bold;
}

.result-name {
    line-height: 36px;
    font-weight: bold;
}

.result-score {
    margin-bottom: 10px;
}

.codominant-wrapper, .dominant-wrapper {
    padding-top: 32px;
    display: none;
}

#particles-js {
    height: 50vh;
    background: rgba(0, 0, 0, .075);
    box-shadow: inset 0px -5px 10px -3px rgba(50, 50, 50, 0.5)
}

.wrapper .jumbotron-fluid {
    margin-left: -15px;
    margin-right: -15px;
}

.event-button {
    margin-top: 30px;
}

.homepage .title {
    font-size: 18px;
}

.homepage .info {
    padding: 15px;
}

.homepage .card {
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, .2);
    transition: .25s;
}

.homepage .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
}

.navbar {
    padding: 1rem 1rem;
    border-bottom: 1px solid #fff;
}

.navbar-nav li {
    font-size: 17px;
}

#back-top a {
    display: block;
    content: "";
    background-image: url(data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2244px%22%20height=%2244px%22%20viewBox=%220%200%2044%2044%22%20enable-background=%22new%200%200%2044%2044%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22white%22%20d=%22M29.121,19.55l-6.29-6.196c-0.025-0.025-0.053-0.049-0.082-0.071c-0.012-0.011-0.024-0.02-0.038-0.03c-0.016-0.011-0.031-0.024-0.048-0.034c-0.017-0.011-0.032-0.02-0.048-0.03c-0.015-0.009-0.029-0.018-0.044-0.025c-0.017-0.009-0.034-0.017-0.051-0.024c-0.016-0.008-0.031-0.015-0.047-0.022c-0.016-0.006-0.033-0.012-0.049-0.018c-0.018-0.005-0.035-0.014-0.053-0.019c-0.017-0.005-0.034-0.008-0.05-0.013c-0.018-0.005-0.036-0.009-0.054-0.013c-0.02-0.003-0.039-0.006-0.059-0.008c-0.016-0.003-0.032-0.005-0.049-0.007c-0.073-0.007-0.146-0.007-0.218,0c-0.017,0.002-0.033,0.005-0.05,0.008c-0.02,0.002-0.038,0.005-0.058,0.009c-0.019,0.003-0.037,0.009-0.055,0.013c-0.016,0.005-0.033,0.008-0.05,0.013c-0.017,0.005-0.035,0.012-0.052,0.018c-0.017,0.006-0.033,0.012-0.049,0.019c-0.017,0.006-0.032,0.014-0.048,0.021c-0.017,0.008-0.034,0.016-0.051,0.024c-0.015,0.008-0.029,0.018-0.044,0.026c-0.015,0.008-0.031,0.018-0.048,0.029c-0.016,0.01-0.031,0.022-0.047,0.034c-0.014,0.01-0.027,0.019-0.04,0.028c-0.042,0.035-0.08,0.073-0.117,0.113c-0.013,0.011-0.026,0.021-0.037,0.033l-6.313,6.219c-0.433,0.428-0.434,1.12-0.003,1.544c0.432,0.426,1.131,0.424,1.564-0.002l4.495-4.426l-0.023,14.11c-0.001,0.603,0.493,1.092,1.104,1.09s1.107-0.49,1.109-1.095l0.023-14.108l4.403,4.334c0.432,0.426,1.133,0.424,1.565-0.007S29.553,19.975,29.121,19.55%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid white;
    text-indent: -99999px;
    width: 54px;
    height: 54px;
}

#back-top {
    position: fixed;
    right: 20px;
    margin-bottom: 0;
    bottom: 20px;
    z-index: 100;
    background-color: #008bd0 !important;
}

#back-top:hover {
    cursor: pointer;
}

.test-table {
    display: none;
}

.genetic-distance-table .group.line-0 {
    border-top: 2px solid #000;
}

.genetic-distance-table .group-name {
    border-top: 2px solid #000;
}

.genetic-distance-table table {
    margin-top: 16px;
}

.genetic-distance-table .cell {
    width: 7rem;
}

.calcuate-distance {
    display: none;
}

.footer {
    background: #26517F;
    border-top: 1px solid #fff;
    color: #fff;
    margin-top: 20px;
    padding: 16px 0;
    font-size: 17px;
    font-weight: 400;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    font-weight: bold;
    color: #fff;
}

@media (max-width: 991px) {
    .h1, h1 {
        font-size: 2.5rem !important;
    }
}

@media (max-width: 576px) {
    .footer p {
        text-align: center !important;
    }

    .footer .app-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        margin-top: -10rem;
    }
}