body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, rgb(33, 147, 176), rgb(109, 213, 237));
}

.wrapper {
    background: #fff;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, .075), -12px 0 8px -4px rgba(0, 0, 0, .075);
    padding: 0 15px 24px 15px;
    border-radius: 5px;
    margin-top: -14rem;
    z-index: 999;
    position: relative;
}

section {
    padding: 16px 0;
}

table .summary {
    background: #e9ecef;
}

table .general-result-wrapper {
    background: crimson;
}

.general-result {
    background-color: #dc143c !important;
    color: #fff;
}

.calcuate {
    display: none;
}

.calcuate-goodness {
    display: none;
}

.table td, .table th {
    vertical-align: middle;
}

table th[scope=row] {
    background: #e9ecef;
}

.form-control:disabled, .form-control[readonly] {
    font-weight: bold;
    font-size: 17px;
}

.result-value {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    font-weight: bold;
}

.result-name {
    line-height: 36px;
    font-weight: bold;
}

.result-score {
    margin-bottom: 10px;
}

.codominant-wrapper, .dominant-wrapper {
    padding-top: 32px;
    display: none;
}

#particles-js {
    height: 50vh;
    background: rgba(0, 0, 0, .075);
    box-shadow: inset 0px -5px 10px -3px rgba(50, 50, 50, 0.5)
}

.form-control {
    padding: .375rem .25rem;
    min-width: 85px;
}

.wrapper .jumbotron-fluid {
    margin-left: -15px;
    margin-right: -15px;
}

.event-button {
    margin-top: 30px;
}

.homepage .title {
    font-size: 18px;
}

.homepage .info {
    padding: 15px;
}

.homepage .card {
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, .2);
    transition: .25s;
}

.homepage .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
}

.navbar {
    padding: 1rem 1rem;
    border-bottom: 1px solid #fff;
}

.navbar-nav li {
    font-size: 17px;
}

.nav-link {
    letter-spacing: -0.05em;
}

#back-top a {
    display: block;
    content: "";
    background-image: url(data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2244px%22%20height=%2244px%22%20viewBox=%220%200%2044%2044%22%20enable-background=%22new%200%200%2044%2044%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22white%22%20d=%22M29.121,19.55l-6.29-6.196c-0.025-0.025-0.053-0.049-0.082-0.071c-0.012-0.011-0.024-0.02-0.038-0.03c-0.016-0.011-0.031-0.024-0.048-0.034c-0.017-0.011-0.032-0.02-0.048-0.03c-0.015-0.009-0.029-0.018-0.044-0.025c-0.017-0.009-0.034-0.017-0.051-0.024c-0.016-0.008-0.031-0.015-0.047-0.022c-0.016-0.006-0.033-0.012-0.049-0.018c-0.018-0.005-0.035-0.014-0.053-0.019c-0.017-0.005-0.034-0.008-0.05-0.013c-0.018-0.005-0.036-0.009-0.054-0.013c-0.02-0.003-0.039-0.006-0.059-0.008c-0.016-0.003-0.032-0.005-0.049-0.007c-0.073-0.007-0.146-0.007-0.218,0c-0.017,0.002-0.033,0.005-0.05,0.008c-0.02,0.002-0.038,0.005-0.058,0.009c-0.019,0.003-0.037,0.009-0.055,0.013c-0.016,0.005-0.033,0.008-0.05,0.013c-0.017,0.005-0.035,0.012-0.052,0.018c-0.017,0.006-0.033,0.012-0.049,0.019c-0.017,0.006-0.032,0.014-0.048,0.021c-0.017,0.008-0.034,0.016-0.051,0.024c-0.015,0.008-0.029,0.018-0.044,0.026c-0.015,0.008-0.031,0.018-0.048,0.029c-0.016,0.01-0.031,0.022-0.047,0.034c-0.014,0.01-0.027,0.019-0.04,0.028c-0.042,0.035-0.08,0.073-0.117,0.113c-0.013,0.011-0.026,0.021-0.037,0.033l-6.313,6.219c-0.433,0.428-0.434,1.12-0.003,1.544c0.432,0.426,1.131,0.424,1.564-0.002l4.495-4.426l-0.023,14.11c-0.001,0.603,0.493,1.092,1.104,1.09s1.107-0.49,1.109-1.095l0.023-14.108l4.403,4.334c0.432,0.426,1.133,0.424,1.565-0.007S29.553,19.975,29.121,19.55%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid white;
    text-indent: -99999px;
    width: 54px;
    height: 54px;
}

#back-top {
    position: fixed;
    right: 20px;
    margin-bottom: 0;
    bottom: 20px;
    z-index: 999;
    background-color: #008bd0 !important;
}

#back-top:hover {
    cursor: pointer;
}

.test-table {
    display: none;
}

.genetic-distance-table .group.line-0 {
    border-top: 2px solid #000;
}

.genetic-distance-table .group-name {
    border-top: 2px solid #000;
}

.genetic-distance-table table {
    margin-top: 16px;
}

.genetic-distance-table .cell {
    width: 7rem;
}

.calcuate-distance {
    display: none;
}

.footer {
    background: #26517F;
    border-top: 1px solid #fff;
    color: #fff;
    margin-top: 20px;
    padding: 16px 0;
    font-size: 17px;
    font-weight: 400;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    font-weight: bold;
    color: #fff;
}

/* LOADER */
.cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: none;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    margin: -125px 0 0 -125px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: rgba(0, 154, 221, 1);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: rgba(40, 146, 72, 1);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: rgba(255, 255, 255, 1);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.genetic-distance-results {
    display: none;
}

.result-desc p {
    font-size: 19px;
    font-weight: 500;
    border-bottom: 1px solid #cacaca;
}

.left-desc {
    float: left;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    position: relative;
}

.top-desc, .left-desc {
    font-weight: bold;
}

.geometric-info {
    display: none;
    margin: 3rem 0 7rem 0;
}

.form-control, .btn {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.table .form-control {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.hardy-weinberg .card,
.pic-h .card,
.chi-independence .card,
.chi-goodness .card {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.jumbotron h1 {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    font-weight: 400;
}

.homepage h2 {
    font-size: 1.4rem;
}

.calcuate-codominant, .generate-table {
    display: none;
}

.top-desc {
    margin: 0 auto;
    display: flex;
}

.top-desc-item {
    flex-grow: 1;
}

.materials-methods {
    word-break: break-all;
}

.card-header .card-title {
    font-size: 22px;
    padding-left: 5px;
}

.card-header .info-icon {
    font-size: 22px;
}

.card-body a {
    color: #fff;
    /* font-weight: 400; */
}

.card-body a:hover {
    font-weight: 700;
    color: #fafafa;
}

/* Particles button */
.particles {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
}

.particles-canvas {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.particles-wrapper {
    position: relative;
    overflow: hidden;
}

.particles-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    border-radius: 5px;
    border: 0;
    margin: 0;
    padding: 1.5rem 3rem;
}

.particles-button:focus {
    outline: none;
}

.sequences-tools-results .result-name,
.raw-seq-results .result-name {
    max-width: 100%;
}

.sequences-tools-results .result-value,
.raw-seq-results .result-value {
    min-width: 100%;
    border: none;
}

.sequences-tools-results .equal-char,
.raw-seq-results .equal-char {
    display: none;
}

.sequences-tools-results .result-name div,
.sequences-tools-results .result-value div,
.raw-seq-results .result-name div,
.raw-seq-results .result-value div {
    line-height: 15px;
}

.raw-sequences, .upload-sequences, .sequences-form-genebank {
    display: none;
}

.raw-sequences, .upload-sequences, .sequences-form-genebank {
    width: 100%;
}

.upload-file-info {
    height: 37px;
    line-height: 40px;
    display: inline-block;
    width: 75%;
    border: 1px solid #cacaca;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.alignment-wrapper {
    padding: 0 15px;
    background: #fafafa;
    border-radius: 5px;
    margin-top: 30px;
}

.alignment-wrapper .title {
    line-height: 36px;
    font-weight: bold;
}

.alignment {
    display: inline;
    float: left;
    text-align: left;
    overflow-x: scroll;
}

.dotplot-img {
    margin: 0 auto;
}

.cookieinfo {
    border-top: 1px solid #ccc;
}

.cookieinfo a {
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    padding-left: 10px;
    font-size: 14px;
}

.matrix-wrapper table {
    margin: 0 auto;
}

.dataframe {
    border: none;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.dataframe th, .dataframe td {
    padding: 5px 10px;
}

.dataframe tr th {
    background: #e9ecef;
}

.dataframe thead th {
    border-bottom: 1px solid #dee2e6;
}

.dataframe tbody th {
    border-right: 1px solid #dee2e6;
}

.newsletter-form {
    border-bottom: 1px solid #fff;
    padding: 1rem 0;
}

.mailchimp-policy {
    font-size: 11px;
}

.form-check-label {
    font-size: 11px;
}

.person {
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
}

.person img {
    width: 50%;
}

.profile-desc {
    text-align: left;
}

.logo {
    width: 50%;
    text-align: center;
    border-radius: 15px;
    background: #fff;
}

@media (min-width: 1331px) and (max-width: 1400px) {
    .navbar-nav li {
        font-size: 15px;
    }
}

@media (min-width: 1200px) and (max-width: 1330px) {
    .navbar-nav li {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .materials-methods img {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: auto !important;
        height: auto !important;
        max-width: 100%;
    }
}

@media (max-width: 1150px) {
    .navbar-nav li {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .h1, h1 {
        font-size: 2.5rem !important;
    }

    .navbar-nav li {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .dataframe th, .dataframe td {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .footer {
        font-size: 12px;
    }

    .footer p {
        text-align: center !important;
    }

    .footer .app-name {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        margin-top: -10rem;
    }
    .mailchimp-policy {
        margin-top: 10px;
    }
    .logo {
        width: 100%;
    }
}