body {
    background: linear-gradient(to right, rgb(33, 147, 176), rgb(109, 213, 237));
}

.wrapper {
    background: #fff;
    box-shadow: 12px 0 15px -4px rgba(0,0,0,.075), -12px 0 8px -4px rgba(0,0,0,.075);
    padding: 0 15px 24px 15px;
    border-radius: 5px;
    margin-top: -12rem;
}

section {
    padding: 32px 0;
}

table .summary {
    background: #e9ecef;
}

table .general-result-wrapper {
    background: crimson;
}

.general-result {
    background-color: #dc143c !important;
    color: #fff;
}

.calcuate {
    display: none;
}

.calcuate-goodness {
    display: none;
}

.table td, .table th {
    vertical-align: middle;
}

table th[scope=row] {
    background: #e9ecef;
}

.form-control:disabled, .form-control[readonly] {
    font-weight: bold;
    font-size: 17px;
}

.result-value {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    font-weight: bold;
}

.result-name {
    line-height: 36px;
    font-weight: bold;
}

.result-score {
    margin-bottom: 10px;
}

.codominant-wrapper, .dominant-wrapper {
    padding-top: 32px;
    display: none;
}

#particles-js {
    height: 50vh;
    background: rgba(0,0,0,.075);
    box-shadow: inset 0px -5px 10px -3px rgba(50, 50, 50, 0.5)
}

.wrapper .jumbotron-fluid {
    margin-left: -15px;
    margin-right: -15px;
}

.event-button {
    margin-top: 30px;
}

.homepage .title {
    font-size: 18px;
}

.homepage .info {
    padding: 15px;
}

.homepage .card {
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, .2);
    transition: .25s;
}

.homepage .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
}

.footer {
    background: #26517F;
    border-top: 1px solid #fff;
    color: #fff;
    margin-top: 20px;
    padding: 16px 0;
    font-size: 17px;
    font-weight: 400;
}

.footer p {
    margin-bottom: 0;
}