{% extends 'userpanel/base.html' %}

{% block userpanel_body %}
  <div class="calculations">

    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">Module name</th>
        <th scope="col">User data</th>
        <th scope="col">Result</th>
        <th scope="col">IP address</th>
        <th scope="col">Created</th>
      </tr>
      </thead>
      <tbody>
      {% for calculation in calculations %}
        <tr>
          <td>{{ calculation.module_name }}</td>
          <td><code>{{ calculation.user_data|safe }}</code></td>
          <td><code>{{ calculation.result|safe }}</code></td>
          <td>{{ calculation.ip_address }}</td>
          <td>{{ calculation.created_at }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block userpanel_scripts %}
  <script>
    $(document).ready(function () {
      $('.calculations .table').DataTable();
    });
  </script>
{% endblock %}
