<div class="pre-train-section upload-data-sheet">
  <form id="ml-pre-train-form" class="mb-4">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="form-group">
        <label for="project-name">Your project name</label>
        <input class="form-control" id="project-name" type="text" required>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="upload-wrapper mt-5 mb-5">
        <div class="form-group">
          <label class="btn btn-primary btn-block" for="data-file">
            <input type="file" name="file" class="form-control-file" id="data-file" hidden
                   onchange="$('.upload-file-name').val(this.files[0].name)">
            Click to upload file
          </label>
          <input type="text" class="form-control upload-file-name"/>
        </div>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="form-group">
        <label for="model-type">Choose model type</label>
        <select class="form-control" id="model-type">
          <option value="classification">classification</option>
          <option value="regression">regression</option>
        </select>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="normalize-dataset">
        <label class="form-check-label" for="normalize-dataset">Do you want to normalize dataset?</label>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12 event-button">
      <button type="submit" class="btn btn-block btn-danger pre-train">Pre-train
      </button>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pre-train-results mt-4"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best-model-recommendation mt-4"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dummy-model-warnings mt-4"></div>
  </form>

  <form class="user-model-choice">
    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="card bg-light mb-4 shadow-lg">
        <div class="card-header">
          <span class="info-icon"><i class="fas fa-info-circle"></i></span>
          <span class="mb-0">Important info:</span>
        </div>
        <div class="card-body">
          <p>
            <span>Model training may take a while. Please be patient. If you have any problems please contact us.</span>
          </p>
          <a class="font-weight-bold text-dark" href="mailto:contact@gene-calc.pl">contact@gene-calc.pl</a>
        </div>
      </div>

      <div class="form-group">
        <label for="user-model-choice">Choose model type</label>
        <select class="form-control"></select>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-12 event-button">
      <button class="btn btn-block btn-danger train">Train</button>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 train-errors"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 train-success">
      <div class="card text-white bg-secondary mt-5 mb-5 shadow-lg">
        <div class="card-header">
          <span class="info-icon"><i class="fas fa-info-circle"></i></span>
          <span class="card-title mb-0">Model trained successfully</span>
        </div>
        <div class="card-body">
          <p><strong>Your model is ready to use. Click PREDICT button and
            then you will be redirected to userpanel where you will be able to use your model and make an
            prediction.</strong></p>

          <a href="#" class="btn btn-danger btn-block predict">Predict</a>
        </div>
      </div>
    </div>
  </form>
</div>
