<form class="newsletter-form">
  <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col12">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p class="text-center mb-2">Subscribe the list if you want to get a <strong>PDF handbook</strong></p>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <div class="form-group">
          <label for="newsletter-email" class="sr-only">E-mail</label>
          <input type="text" class="form-control" id="newsletter-email" placeholder="E-mail" required>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <button type="submit" class="btn btn-block btn-primary">Subscribe !</button>
      </div>
      <div class="col-md-12 col-sm-12">
        <p class="small text-center mailchimp-policy">We use Mailchimp as our marketing platform.
          By clicking above to subscribe, you acknowledge that your information will
          be transferred to Mailchimp for processing. Learn more about Mailchimp's privacy practices
          <a href="https://mailchimp.com/legal/" target="_blank">here</a>.</p>
      </div>
      <div class="col-md-10 offset-md-1 col-sm-12 form-messages"></div>
    </div>
  </div>
</form>
