{% if current_user.is_authenticated %}
  <div class="col-xl-8 offset-xl-2 col-lg-12 col-md-12 col-sm-12 text-center save-calculations mt-5">
    <p><span class="font-weight-bold">{{ current_user.login }}</span> do you want to save your calculation?</p>
    <form class="row save-calculation-form">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <input type="hidden" class="customer-id" value="{{ current_user.id }}"/>
          <input type="hidden" class="module-name" value="{{ module_name }}"/>
          <input class="form-control calculation-title" type="text" placeholder="Add calculation title" required>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-warning text-white save">Save</button>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 messages"></div>
    </form>
  </div>
{% else %}
  <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 text-center save-calculations mt-5">
    <div class="card text-white bg-primary mb-2 shadow-lg">
      <div class="card-header">
        <span class="info-icon"><i class="fas fa-info-circle"></i></span>
        <span class="card-title mb-0">Important info:</span>
      </div>
      <div class="card-body text-sm-left text-center">
        <p class="font-weight-bold mb-4">
          If you want to save your calculation in please
          <a class="btn bg-dark text-white font-weight-normal shadow mt-sm-0 mt-3" href="{{ url_for('userpanel.login_view') }}">Login Here</a>
        </p>
        <p class="font-weight-bold">
          Or if you don't have an account please
          <a class="btn bg-dark text-white font-weight-normal shadow mt-sm-0 mt-3" href="{{ url_for('userpanel.register_view') }}">Register Here</a>
        </p>
      </div>
    </div>
  </div>
{% endif %}
