{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Gene Calc - Admin Panel</h1>
    <p class="text-muted font-weight-bold text-center pt-3 mb-0">
      Welcome to Gene Calc administrator panel
    </p>
  </div>
</div>
<section class="admin-home-page">
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
      <p>If you have any problems please contact us  <a href="contact@gene-calc.pl">contact@gene-calc.pl</a></p>
    </div>
  </div>
</section>
{% endblock body %}