{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row">
  {% if current_user.is_authenticated %}
  <div class="col-md-12 col-sm-12">
    <h1 class="display-4 text-center">Gene-calc admin panel</h1>
    <div class="text-muted font-weight-bold text-center pt-3 mb-0">
      <p class="lead">Biotechnology calcualtion app</p>
      <p>You are logged as {{ current_user.login }}</p>
      <p>If you have any trouble please contact us  <a href="contact@gene-calc.pl">contact@gene-calc.pl</a></p>
    </div>
    <hr>
  </div>
  <div class="col-md-4 col-sm-12">
    <a class="btn btn-primary btn-block" href="/admin/page/"><i class="icon-arrow-left icon-white"></i> Edit pages</a>
  </div>
  <div class="col-md-4 col-sm-12">
    <a class="btn btn-primary btn-block" href="/admin/register"><i class="icon-arrow-left icon-white"></i> Add user</a>
  </div>
  <div class="col-md-4 col-sm-12">
    <a class="btn btn-block btn-danger" href="/"><i class="icon-arrow-left icon-white"></i> Go to home page</a>
  </div>
  {% else %}
  <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12">
    <form class="admin-sign-in mb-4" method="POST" action="">
      <div class="logo-wrapper text-center">
        <i class="fas fa-dna"></i>
      </div>
      <h1 class="text-center">Please sign in</h1>
      <hr class="mb-4">
      {% for field in form %}
      {% for message in field.errors %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %}
      {% endfor %}

      {{ form.hidden_tag() if form.hidden_tag }}
      <div class="form-group">
        {{ form.login.label(class_="text-left") }}
        {{ form.login(class_="form-control") }}
      </div>
      <div class="form-group">
        {{ form.password.label(class_="text-left") }}
        {{ form.password(class_="form-control") }}
      </div>
      <button class="btn btn-block btn-primary" type="submit">Login</button>
    </form>
  </div>
  {% endif %}
  {% if request.path == '/admin/register/' %}
    <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 mt-4">
      <form class="admin-sign-in mb-4" method="POST" action="">
        <div class="logo-wrapper text-center">
          <i class="fas fa-dna"></i>
        </div>
        <h1 class="text-center">Register user</h1>
        <hr class="mb-4">
        {% for field in form %}
          {% for message in field.errors %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
        {% endfor %}

        {{ form.hidden_tag() if form.hidden_tag }}
        <div class="form-group">
          {{ form.login.label(class_="text-left") }}
          {{ form.login(class_="form-control") }}
        </div>
        <div class="form-group">
          {{ form.email.label(class_="text-left") }}
          {{ form.email(class_="form-control") }}
        </div>
        <div class="form-group">
          {{ form.password.label(class_="text-left") }}
          {{ form.password(class_="form-control") }}
        </div>
        <button class="btn btn-block btn-primary" type="submit">Register</button>
      </form>
    </div>
  {% endif %}
</div>
{% endblock body %}