{% extends 'userpanel/base.html' %}

{% block userpanel_body %}
  <div class="calculation-wrapper">
    <h3 class="page-title">Calculation details ({{ calculation.customer.first_name }})</h3>
    <hr>
    <h4 class="title">Title: {{ calculation.title }}</h4>
    <h5 class="module-name">Module name: {{ calculation.module_name }}</h5>
    <hr>

    <div class="user-input-wrapper pt-3 pb-3">
      <h5 class="mb-3 bg-info text-white p-2 shadow">Input:</h5>
      {% set customer_input_dict = calculation.customer_input|to_dict %}

      {% if calculation.module_name == "Consensus Sequence form FASTA file" %}
        <div class="p-3 shadow ml-3 bg-white">
          <div class="user-input mb-3">
            <span class="name font-weight-bold">Your input file:</span>
            <span class="value">
              <a class="btn btn-primary" download="input.fasta" href="{{ customer_input_dict['file-seq'] }}">Download</a>
            </span>
          </div>
          <div class="user-input">
            <span class="name font-weight-bold">Threshold</span>
            <span class="value">{{ customer_input_dict['threshold'] }}</span>
          </div>
        </div>
      {% else %}
        <div class="p-3 shadow ml-3 bg-white">
          {% for key, value in customer_input_dict.items() %}
            <div class="user-input">
              <span class="name font-weight-bold">{{ key|translate_name }}</span>
              <span class="value">{{ value }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <hr>

    <div class="calculation-result pt-3 pb-3">
      <h5 class="mb-3 bg-success text-white p-2 shadow">Result:</h5>
      <div class="p-3 shadow ml-3 bg-white">
        {% if calculation.module_name == "genetic distance" %}
          <div class="genetic-distance-results">
            {% set result = calculation.result|to_dict %}

            {% for key, value in result.items() %}
              <div class="mb-5">
                <div class="name font-weight-bold">{{ key|translate_name }}</div>
                <div class="value">{{ value|safe }}</div>
              </div>
            {% endfor %}
          </div>
        {% elif calculation.module_name == "Consensus Sequence form GeneBank"
                or calculation.module_name ==  "Consensus Sequence form FASTA file" %}
          <p class="font-weight-bold">Click the button below to download your file with calculation result</p>
          <a class="btn btn-danger" download="consensus-sequence.fasta"
             href="data:text/plain;base64,{{ calculation.result|rm_quotes }}">
            Download
          </a>
        {% else %}
          <div class="results"></div>
        {% endif %}
      </div>
    </div>

  </div>
{% endblock %}

{% block userpanel_scripts %}
  <script>
    "use strict";

    function displayResults() {
      let transform = {
        '<>': 'div', 'class': 'result-row', 'html': [
          {
            '<>': 'div', 'class': 'result',
            'html': '<span class="name font-weight-bold" data-name="${name}">${name}</span>' +
            '<span class="value" data-name="${name}">${value}</span>',
          }
        ]
      };

      const resultsContainer = $('.results');

      if (resultsContainer.length !== 0) {
        let data = {{ calculation.result|tojson|safe }};
        resultsContainer.json2html(data, transform);
      }
      else {
        console.log("Results container not exist")
      }
    }

    $(document).ready(function () {
      displayResults();
    });
  </script>
{% endblock %}
