{% extends 'userpanel/base.html' %}

{% block userpanel_body %}
  <h1>Calculation details</h1>
  <hr>
  <h3>Title: {{ calculation.title }}</h3>

  {% set user_input_dict = calculation.customer_input|to_dict %}


  {% for k, v in user_input_dict.items() %}
    dict item - {{ k }} / {{ v }} <br>
  {% endfor %}

  <h5>Module name: {{ calculation.module_name }}</h5>

  <p>{{ calculation.customer_input }}</p>
  

  <p>{{ calculation.result }}</p>

  <div class="user-input"></div>
  <hr>
  <div class="results"></div>
{% endblock %}

{% block userpanel_scripts %}
<script>
function displayResults() {
  let transform = {'<>':'li','html':[
      {'<>':'span','html':'${name} = ${value}'}
  ]};

  let data = {{ calculation.result|tojson|safe }}

  $('.results').json2html(data, transform);
}

$(document).ready(function() {
  displayResults();
});
</script>
{% endblock %}