{% extends 'userpanel/base.html' %}

{% block userpanel_body %}
  <h1>Calculation details</h1>
  <hr>
  <p>{{ calculation.title }}</p>
  <p>{{ calculation.customer_input }}</p>

  <p>{{ calculation.result }}</p>

  <div class="user-input"></div>
  <hr>
  <div class="results"></div>
{% endblock %}

{% block userpanel_scripts %}
<script>
var transform = {'<>':'li','html':[
    {'<>':'span','html':'${name} = ${value}'}
]};

var data = {{ calculation.result|tojson|safe }}

$('.results').json2html(data, transform);
</script>

<script>
  var transform = {'<>':'li','html':[
      {'<>':'span','html':'${name} = ${value}'}
  ]};
  
  var data = {{ calculation.customer_input|tojson|safe }}
  
  $('.user-input').json2html(data, transform);
</script>
{% endblock %}