<footer class="footer bg-dark shadow mt-5 p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <span class="text-left pr-1">
            <i class="fas fa-dna text-white"></i>
        </span>
        <span class="text-left text-white small">
          <a class="text-white" href="{{ url_for('userpanel.dashboard') }}">Gene Calc</a> - Copyright © {{ now.year }} All Rights Reserved
        </span>
      </div>

      <div class="col-md-6 col-sm-12 text-right">
        <span class="text-white small mb-0">
          <a class="text-white" href="mailto:miks.szymon@gmail.com">Szymon Miks</a> &
          <a class="text-white" href="mailto:jan.binkowski96@gmail.com">Jan Bińkowski</a>
        </span>
      </div>
    </div>
  </div>
</footer>