
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>
    {% include "userpanel/userpanel_topbar.html" %}

    <div class="container-fluid">
      <div class="row">

        {% include "userpanel/userpanel_sidebar.html" %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          {% block userpanel_body %}{% endblock %}
        </main>
      </div>
    </div>


  </body>
</html>
