{% extends 'userpanel/base.html' %}

{% block userpanel_body %}
  <h3>Edit customer</h3>
  <hr>

  <form class="edit-customer" action="{{ url_for('userpanel.customer_details_view', customer_id=customer.id) }}"
        method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          {{ form.first_name.label }}
          {{ form.first_name(class_="form-control") }}

          {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.last_name.label }}
          {{ form.last_name(class_="form-control") }}

          {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.login.label }}
          {{ form.login(class_="form-control", disabled=True) }}

          {% if form.login.errors %}
            {% for error in form.login.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.email.label }}
          {{ form.email(class_="form-control", disabled=True) }}

          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(class_="form-control", disabled=True) }}

          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>

        <div class="form-check mb-3">
          {{ form.is_superuser(class_="form-check-input") }}
          {{ form.is_superuser.label(class_="form-check-label") }}

          {% if form.is_superuser.errors %}
            {% for error in form.is_superuser.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.created_at.label }}
          {{ form.created_at(class_="form-control") }}

          {% if form.created_at.errors %}
            {% for error in form.created_at.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="col-md-6 offset-md-3 col-sm-12">
        <button type="submit" class="btn btn-block btn-primary">Save</button>
      </div>
    </div>
  </form>


  <h4 class="mt-5">User statistics</h4>
  <hr>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card mb-4 shadow statistics">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="card-icon">
              <i class="fas fa-eye"></i>
            </div>
            <div class="ml-3">
              <div class="text-large">
                <div class="mb-1 pb-1 title">Total visits: <strong>{{ statistics.total_visits }}</strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card mb-4 shadow statistics">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="card-icon">
              <i class="fas fa-signal"></i>
            </div>
            <div class="ml-3">
              <div class="text-large">
                <div class="mb-1 pb-1 title">Total calculations: <strong>{{ statistics.total_calculations }}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card mb-4 shadow statistics">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="card-icon">
              <i class="fas fa-rocket"></i>
            </div>
            <div class="ml-3">
              <div class="text-large">
                <div class="mb-1 pb-1 title">Total APMC: <strong>{{ statistics.total_apmc }}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card shadow mt-4">
        <div class="card-header font-weght-bold"><strong>Activity</strong></div>
        <div class="card-body">
          <div class="chart-warpper">
            <canvas class="chart"></canvas>
            {% for item in activity %}
              <input type="hidden" class="chart-item" data-name="{{ item.module_name }}" data-url="{{ item.url }}"
                     value="{{ item.count }}"/>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block userpanel_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script>
    const chartWrapper = $(".chart");

    const chartData = {
      'labels': [],
      'values': []
    };

    const allItems = $('.chart-item');

    allItems.each((index, elem) => {
      chartData.labels.push($(elem).data('name'));
      chartData.values.push($(elem).val());
    });

    const activityChart = new Chart(chartWrapper, {
      type: 'line',
      data: {
        labels: chartData.labels,
        datasets: [{
          label: "Activity",
          data: chartData.values,
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              stepSize: 10
            }
          }]
        },
        legend: {
          display: true,
        }
      }
    });
  </script>
{% endblock %}
