{% extends "base.html" %}

{% block title %}{{ module_desc.seo_title }}{% endblock %}
{% block seo_desc %}{{ module_desc.seo_desc }}{% endblock %}
{% block seo_keywords %}{{ module_desc.seo_keywords }}{% endblock %}

{% block body %}
<div class="wrapper">
  {% include 'utils/module_top_block.html' %}

  <section class="about">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        {{ module_desc.text|safe }}
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-md-12 col-sm-12">
        <h3 class="text-center mb-3">Our team</h3>
        <hr>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="person shadow-lg mb-4 mt-2">
          <img src="static/img/profiles/mx2.jpg" class="rounded-circle img-fluid shadow">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Szymon Miks</span>
              <small class="h6 text-muted">Developer</small>
            </h5>
            <div class="mt-3">
              <a href="#" class="btn btn-secondary rounded-circle">
                <i class="fab fa-github"></i>
              </a>
              <a href="#" class="btn btn-secondary rounded-circle">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#" class="btn btn-secondary rounded-circle">
                  <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="profile-desc mt-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor aliquam orci tincidunt posuere. Praesent molestie tincidunt urna, sit amet mollis augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ipsum augue, sit amet pulvinar sapien lacinia eu. Aliquam efficitur tristique dolor a fermentum. Maecenas sed ultrices ex. Suspendisse sagittis in enim ut placerat. Nam a nisi elementum, dapibus mi at, suscipit arcu.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="person shadow-lg mb-4 mt-2">
          <img src="static/img/profiles/profile.svg" class="rounded-circle img-fluid shadow">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Jan Bińkowski</span>
              <small class="h6 text-muted">Researcher</small>
            </h5>
            <div class="mt-3">
              <a href="#" class="btn btn-secondary rounded-circle">
                <i class="fab fa-github"></i>
              </a>
              <a href="#" class="btn btn-secondary rounded-circle">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#" class="btn btn-secondary rounded-circle">
                  <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="person-desc mt-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor aliquam orci tincidunt posuere. Praesent molestie tincidunt urna, sit amet mollis augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ipsum augue, sit amet pulvinar sapien lacinia eu. Aliquam efficitur tristique dolor a fermentum. Maecenas sed ultrices ex. Suspendisse sagittis in enim ut placerat. Nam a nisi elementum, dapibus mi at, suscipit arcu.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}