Flask
Flask-Compress
Flask-HTMLmin
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
mysql-connector-python
mysqlclient
biopython
matplotlib
numpy
pandas
scipy
pdfkit
Pillow
pytest
requests
