Flask
Flask-Compress
Flask-HTMLmin
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
mysql-connector-python
mysqlclient
biopython
matplotlib
numpy==1.16.4
pandas
scipy==1.2.2
pdfkit
Pillow
pytest
requests
scikit-learn
seaborn
