<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block seo_desc %}{% endblock %}">
  <meta name="keywords" content="{% block seo_keywords %}{% endblock %}">
  <meta name="author" content="Gene Calc - Szymon Miks, Jan Binkowski">

  {% block seo_social %}
    {% include "utils/seo_social.html" with context %}
  {% endblock %}

  <link rel="icon" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{{ url_for('static', filename='img/favicons/dna-144.png') }}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{{ url_for('static', filename='img/favicons/dna-72.png') }}">
  <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/favicons/dna-57.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors/bootstrap.min.css') }}"/>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?ver={{ css_js_ver }}"/>

  <script>
    var currentUrl = window.location.href;
    if (currentUrl.includes("herokuapp.com")) {
      window.location.replace("https://gene-calc.pl/");
    }
  </script>

  {% if not config['DEBUG'] %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119664721-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-119664721-1');
  </script>
  {% endif %}

  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
          data-dojo-config="usePlainJson: true, isDebug: false"></script>
  <script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function (L) {
    L.start({
      "baseUrl": "mc.us19.list-manage.com",
      "uuid": "abfa265f15bc0ad16f6dc6068",
      "lid": "e29fcc6d76",
      "uniqueMethods": true
    })
  })</script>
</head>

<body>

{% include 'navbar.html' %}

<div class="main-container">
  <div id="particles-js"></div>
  <div class="container">
    {% include 'utils/loader.html' %}
    {% block body %}
    {% endblock %}
  </div>

</div>

{% include 'footer.html' %}

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/vendors/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendors/particles.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendors/moment.min.js') }}"></script>
<script type="text/javascript" id="cookieinfo"
        src="//cookieinfoscript.com/js/cookieinfo.min.js"
        data-close-text="Got it!"
        data-divlinkbg="#247bff"
        data-link="#000"
        data-divlink="#fff"
        data-font-family="Lato, sans-serif"
        data-cookie="cookie-accept"
        data-link="#fff"
        data-bg="#fafafa">
</script>

<!-- <script src="{{ url_for('static', filename='js/vendors/anime.min.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/vendors/particles-buttons.js') }}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.2.0/json2html.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.json2html/1.2.0/jquery.json2html.min.js"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}?ver={{ css_js_ver }}"></script>
<script src="{{ url_for('static', filename='js/helpers/RenderHelper.js') }}?ver={{ css_js_ver }}"></script>
<script src="{{ url_for('static', filename='js/helpers/PDFHelper.js') }}?ver={{ css_js_ver }}"></script>
<script src="{{ url_for('static', filename='js/newsletter.js') }}?ver={{ css_js_ver }}"></script>
{% block scripts %}
{% endblock %}
<script src="{{ url_for('static', filename='js/app.js') }}?ver={{ css_js_ver }}"></script>

</body>
</html>
