<nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="{{ url_for('home.homepage') }}">
    <i class="fas fa-dna"></i>
    <span>Gene Calc</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home.homepage') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('materials_and_methods.materials_and_methods_page') }}">
          Materials & methods
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('hardy_weinber.hardy_weinber_page') }}">Hardy-Weinberg equilibrium</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('chi_square.chi_square_page') }}">Chi-Square</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pic.pic_page') }}">Pic & H</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('genetic_distance.genetic_distance_page') }}">Estimation of Genetic
          Distance</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="drop-down" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Sequences Analysis Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="drop-down">
          <a class="dropdown-item" href="{{ url_for('sequences_analysis_tools.dot_plot_page') }}">Dot plot</a>
          <a class="dropdown-item" href="{{ url_for('sequences_analysis_tools.consensus_sequence_page') }}">
            Tool to obtain consensus sequence
          </a>
          <a class="dropdown-item" href="{{ url_for('sequences_analysis_tools.sequences_tools_page') }}">Additional
            tools</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about.about_page') }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('donors.donors_page') }}">Donors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contact.contact_page') }}">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>