<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Bio gen calc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home.homepage') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about.about_page') }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('hardy_weinber.hardy_weinber_page') }}">Hardy-Weinberg</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('chi_square.chi_square_page') }}">Chi Square</a>
      </li>
    </ul>
  </div>
</nav>