<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="/">
    <i class="fas fa-dna"></i>
    <span>Gene Calc</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home.homepage') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about.about_page') }}">Materials & methods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('hardy_weinber.hardy_weinber_page') }}">Hardy-Weinberg's principle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('chi_square.chi_square_page') }}">Chi-Square</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pic.pic_page') }}">Pic & H</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('genetic_distance.genetic_distance_page') }}">Estimation of Genetic Distance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contact.contact_page') }}">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>