{% extends "base.html" %}

{% block title %}Hardy-Weinberg Equilibrium{% endblock %}

{% block seo_desc %}Tool to examine compliance between expected and observed number of genotypes.{% endblock %}

{% block seo_keywords %}Hardy-Weinberg equilibrium, genetics balance, fixation index (fis){% endblock %}

{% block body %}
<div class="wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">{{ title }}</h1>
    </div>
  </div>

  <section class="hardy-weinberg">
    {% for field in form %}
      {% for message in field.errors %}
        <div class="row">
          <div class="col-md-12 co-sm-12 col-xs-12">
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="alert alert-info" role="alert">
                {{ message }}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="row">
      <div class="col-md-12 col-sm-12 co-xs-12">
        <form class="hardy-weinber-form" action="/hwcalculate" method="post">
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="ho">Homozygotes</label>
                {{ form.ho (class_="form-control non-negative", placeholder="ho") }}
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="he">Heterozygotes</label>
                {{ form.he (class_="form-control non-negative", placeholder="he") }}
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="rho">Rare homozygotes</label>
                {{ form.rho (class_="form-control non-negative", placeholder="rho") }}
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="critical_select">Level of significance</label>
                {{ form.critical_select (class_="form-control", placeholder="select") }}
              </div>
            </div>
            <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 mt-4">
              {{ form.submit(class_="btn btn-danger btn-block shadow") }}
            </div>
          </div>
        </form>
      </div>
    </div>

    {% if result %}
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 mt-5">
          <div class="card text-center">
            <div class="card-header">Results:</div>
            <div class="card-body">
              <div class="card-text text-left">
                <div class="row result-score">
                  <span class="col-sm-6 col-xs-12 result-name">expected number of homozygotes</span>
                  <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.expected_ho }}">
                </div>

                <div class="row result-score">
                  <span class="col-sm-6 col-xs-12 result-name">expected number of heterozygotes</span>
                  <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.expected_he }}">
                </div>

                <div class="row result-score">
                  <span class="col-sm-6 col-xs-12 result-name">expected number of rare homozygotes</span>
                  <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.expected_rho }}">
                </div>

                <div class="row result-score">
                  <span class="col-sm-6 col-xs-12 result-name">p</span>
                  <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.p }}">
                </div>

                <div class="row result-score">
                  <span class="col-sm-6 col-xs-12 result-name">q</span>
                  <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.q }}">
                </div>

                <div class="row result-score">
                  <span class="col-sm-6 col-xs-12 result-name">n</span>
                  <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.n }}">
                </div>

                {% if result.yats %}
                  <div class="row result-score">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <p class="text-center font-weight-bold">Chi square with Yates's correction for continuity</p>
                    </div>
                    <span class="col-sm-6 col-xs-12 result-name">Yates's chi square:</span>
                    <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.yats_sum_chi }}">
                  </div>
                {% endif %}

                <div class="row result-score">
                  <span class="col-sm-6 col-xs-12 result-name">Chi square</span>
                  <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.sum_chi }}">
                </div>

                <div class="row result-score">
                  <span class="col-sm-6 col-xs-12 result-name">Status</span>
                  <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.chi_message }}">
                </div>

                {% if result.fis %}
                  <div class="row result-score">
                    <span class="col-sm-6 col-xs-12 result-name">Fis</span>
                    <input class="col-sm-6 col-xs-12 result-value" type="text" value="{{ result.fis }}">
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
</div>
{% endblock %}